.base-button{
    @include user-select-none;
    outline:none;
    display: inline-block;
    vertical-align: middle;
    background-image: none;
    cursor:pointer;
    &.disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
    &:active,
    &:focus{
        outline: none;
    }
}

.text-base-button{
    @extend .base-button;
    border:$border-width solid transparent;
    height:$component-size;
    line-height:$component-size - (2*$border-width);
    transition:0.3s;
    padding: 0 $content-padding;
}

.button-block{
    background:transparent;
    border:none;
    display: block;
    height: 100%;
}

@import "button-group";
@import "icon-button";
@import "icon-with-text-button";
@import "image-button";
@import "image-with-text-button";
@import "text-button";
@import "command-button";