.fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.position-relative{
  position: relative;
}
.position-absoulte{
  position: absolute;
}
.fixed-bottom {
  position: fixed !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}