.pretty-link{
  color: $link-color;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  &:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    top: 1rem;
    left: 0;
    width: 0%;
    transition: width 0.3s ease;
  }
  &:hover{
    &:after{
      border-bottom: $border-width solid $link-color;
      opacity: 0.3 ;
      width: 100%;
    }
  }
}