.list-inline,
.list-unstyled {
    @include list-unstyled;
}
.list-inline{
  margin-bottom:0;
  li{
    display:inline-block;
    &:not(:last-child){
      margin-right: $text-span;
    }
  }
}
ul.unstyled, ol.unstyled, .unstyled {
  margin-left: 0;
  @include list-unstyled;
}
.list-unstyled li {
    margin-bottom:$text-span;
}

.numeric-list {
    @include list-unstyled;
    counter-reset: li;
    margin-left: 0;
    color: $content-color;
  li {
    padding:$content-padding;
    &:before {
      content: counter(li);
      counter-increment: li;
      font-size: $font-size;
      color: $sub-color;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      width: $font-size*1.5;
      line-height:  $font-size*1.5;
      height: $font-size*1.5;
      margin-right: $text-span;
      border: $border-width solid $border-color;
    }
    &:nth-child(1):before,
    &:nth-child(2):before,
    &:nth-child(3):before{
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}

.counter-list,
.counter-list ul,
.counter-list ol{
    counter-reset: item;
    list-style:none;
}
.counter-list{
  li {
    display: block;
    margin-bottom: $text-span;
    font-size: $font-size;
    &:before{
      display: inline-block;
      width: $component-size-small;
      height: $component-size-small;
      border-radius: $component-size-small;
      border:$border-width solid $border-color;
      text-align: center;
      line-height: $component-size-small;
      counter-increment: item;
      content: counters(item, ".") " ";
      font-size: $font-size;
      margin-right: $text-span;
    }
  }
}

.label-list{
  @include list-unstyled;
  li{
    display:inline-block;
  }
}