.space-header{
  background-size: 100% 100%;
  padding: $content-padding;
  position: relative;
  &.light{
    color:#fff;
  }
  &.color{
    .profile-name{
      color:#fff !important;
    }
    .profile-property-item{
      color:#fff !important;
    }
  }
  .banner-picture{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .profile-avatar-box{
    padding: $content-padding 0;
    .profile-avatar{
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      border: $border-width-large solid #fff;
    }
  }
  .profile-name{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: $content-padding;
  }
  .profile-property-box{
    text-align: center;
    .profile-property-item{
      color:$title-color;
      display: inline-block;
      [class*=icon-]{
        margin-right: $icon-text-span;
      }
      &:not(:last-child){
        margin-right:$text-span;
      }
    }
  }
}