@import "./../variables";
.loading{
  vertical-align: middle;
  text-align: center;
  position: relative;
  &.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-loading-bar;
    width: 100%;
    height: 100%;
  }
  &.mask{
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .loading-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: $zindex-masker + 1;
    .circular{
      height: $component-size-large;
      width: $component-size-large;
      animation: load-loop 1s linear infinite;
      .path{
        stroke-dasharray: 90,150;
        stroke-dashoffset: 0;
        stroke-width: 2;
        stroke: $primary-color;
        stroke-linecap: round;
      }
    }
    .loading-text{
      display: none;
    }
  }
  &.show-text{
    .loading-box{
      .loading-text{
        display: block;
      }
    }
  }
}
.loading-parent-relative{
  position: relative !important;
  min-height: $component-size-larger;
}