@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader-wraper{
  position: relative;
  .loader {
    position: absolute;
    left: 50%;
    margin-left: -$component-size;
    top: 50%;
    margin-top: -$component-size;
  }
}
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  text-align: center;
  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: $component-size-larger;
    height: $component-size-larger;
    border-radius: 100%;
    border: $border-width-large solid rgba(0,0,0,.1);
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    animation: loading .6s linear;
    animation-iteration-count: infinite;
    border-radius: 100%;
    border-style: solid;
    border-width: $border-width-large;
    box-shadow: 0 0 0 1px transparent;
    border-color: #fff transparent transparent;
    width: $component-size-larger;
    height:$component-size-larger;
  }
  &.text {
    text-align: center;
    font-style: normal;
    padding-top: 7.6rem;
    color:$title-color;
    font-weight: bold;
  }
}
.loader-wraper.light .loader.text{
  color:$title-color;
}

.loading-icon{
  display:block;
  width:$component-size;
  height:$component-size;
  position:relative;
  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: $component-size;
    height: $component-size;
    border-radius: 100%;
    border: $border-width solid rgba(0,0,0,.1);
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    animation: loading .6s linear;
    animation-iteration-count: infinite;
    border-radius: 100%;
    border-style: solid;
    border-width: $border-width;
    box-shadow: $shadow-base;
    border-color: #fff transparent transparent;
    width:$border-width;
    height: $border-width;
  }
}
.loader-blue{
  &:after {
    content: "";
    position: relative;
    left: 50%;
    bottom: 0;
    display: inline-block;
    margin: 1rem 0 0 -$component-size-small/2;
    width: $component-size-small;
    height: $component-size-small;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3L…c3LTAuMjk3LTMuMDgzLTAuODEyLTQuNDgyTDM2LjIwMywyMC45MDJ6Ii8+DQo8L3N2Zz4NCg==);
    background-size:$component-size-small;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-duration: 0.74s;
    animation-duration: 0.74s;
    -webkit-animation-name: spin-forever;
    animation-name: spin-forever;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}