.module{
  @include vertical-flex;
  .module-header{
    @include horizional-flex-align-center;
    padding:$content-padding;
    .module-title{
      margin:0;
      @include flex-adapter;
    }
    button{
      display:block;
      +.module-title{
        margin-left:$component-span;
      }
    }
  }
  .module-body{
    @include flex-adapter;
  }
  &.vertical-flex-module{
    @include vertical-flex;
    .module-body{
      @include flex-adapter;
    }
  }
}