.says-list{
  @include list-unstyled;
  @include vertical-flex;
  li{
    @include flex-adapter;
    margin-bottom: $component-span;
    &:not(:last-child){
      border-right:$border-width solid $border-color;
    }
  }
}
.says{
  position:relative;
  padding: $component-size 5rem 0 $component-size;
  @include vertical-flex;
}
.says-content-quote{
  width: $component-size-small;
  height: $component-size-small;
  top: $component-size;
  left:$component-size;
  border: 0;
  position: absolute;
}
.says-content {
  font-size: 2.2rem;
  margin-left:$component-size;
  color: $content-color;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  display:block;
  @include flex-adapter;
}
@media (max-width: $sm) {
  .says-list{
    display:block;
    li{
      -webkit-box-flex:unset;
      &:not(:last-child) {
        margin-bottom:2rem;
        border-right:none;
        padding-bottom:$content-padding;
        border-bottom:$border-width solid $border-color;
      }
    }
  }
  .says-content{
    margin-left: 0;
  }
}