<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="your keywords">
    <meta name="description" content="your description">
    <meta name="author" content="author,email address">
    <meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>/libs/highlight/default.min.css"/>
    <script src="<%= htmlWebpackPlugin.options.path %>/libs/highlight/highlight.min.js"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>